
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 10px;
}

a.bg:hover, a.bg:active {background: lightgray;}


.clickable
{
  cursor: pointer;
}

li {
  list-style-type: none;
}

h2 {
  border-bottom: 1px solid lightgray;
}

.pop{
  height: 50px;
  width: 40%;
  margin-left: 20px;
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;

}
