<h2>Providers</h2>
<div class="flex-container">

  <div class="flex-child">
    <div>
      <h4>Unselected List</h4>
      <ul>
        <a *ngFor="let unselectedProvider of unselectedProviders">
          <li class="left-list" (click)="selectProvider(unselectedProvider)">
            {{unselectedProvider.name}}
            {{unselectedProvider.address}}
            {{unselectedProvider.phone}}
          </li>
        </a>
      </ul>
    </div>
  </div>

  <div class="flex-child">
    <div>
      <h4>Selected List</h4>
      <ul>
        <a *ngFor="let selectedProvider of selectedProviders">
          <li> {{selectedProvider.name}} {{selectedProvider.address}} {{selectedProvider.phone}}
          <span (click)="unselectProvider(selectedProvider)" class="close">&times;</span></li>
        </a>
      </ul>
    </div>
  </div>

</div>

